<footer class="fixed-bottom bg-dark text-white ">
    <div class="container text-center ">
        <ul class="container  list-inline d-inline">
            <li class="list-inline-item">
                <p>&copy; 2023 TeamUP</p>
            </li>
            <li class="list-inline-item"><a href="#" class="d-inline">Contacto</a></li>
            <li class="list-inline-item"><a href="#" class="d-inline">Términos de Uso</a></li>
            <li class="list-inline-item"><a href="#" class="d-inline">Política de Privacidad</a></li>
        </ul>
    </div>
</footer>