<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">TeamUP</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li *ngIf="userRole" class="nav-item">
                <a href="/admin" class="navbar-text">Admin options</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/userDetails', usuario.id]">{{usuario.username}}</a>
            </li>
            <!-- Otros elementos del Navbar aquí -->

            <!-- Mostrar el rol del usuario -->
        </ul>
    </div>
</nav>