<section class="container my-5">
    <h2 class="text-center">Encuentra un Evento</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <!-- Campos de búsqueda y opciones de filtro -->
            <!-- Opciones de filtro (ubicación, fecha, categoría, etc.) -->
            <a href="/listaEventos" class="btn btn-primary btn-block">
                Buscar eventos
            </a>
            <a href="/createTeam" class="btn btn-primary btn-block">
                Crear Equipo
            </a>
            <a href="/createEvent" class="btn btn-primary btn-block">
                Crear Evento
            </a>
        </div>

    </div>
</section>

<!-- Sección de Categorías o Tags -->
<section class="container my-5">
    <h2 class="text-center">Categorías Populares</h2>
    <div class="row center">
        <div class="col-md-4">
            <a href="/listaEventos" class="btn btn-outline-primary btn-block mb-2">Deportes</a>
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-outline-primary btn-block mb-2">E Sports</a>
        </div>
        <div class="col-md-4">
            <a value="3" class="btn btn-outline-primary btn-block mb-2">Juegos de mesa</a>
        </div>
        <!-- Agrega más categorías -->
    </div>
</section>

<!-- Sección de Buscar Equipos -->
<section class="container my-5">
    <h2 class="text-center">Buscar Equipos</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <!-- Campos de búsqueda y opciones de filtro -->
            <input type="text" class="form-control" placeholder="Buscar equipos...">
            <input type="submit" value="buscar">
        </div>
    </div>
</section>